<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Ask mate</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% include ["topnav.html", "style.css"] ignore missing %}
    <h1>Ask mate</h1>
    <p><i> &#9758; Izabela Żmuda, Filip Brzeziński, Paweł Bonecki</i></p>
    <hr>
    <p>Our goal was to implement a crowdsourced Q&A site, like Stack Overflow. The initial version of the site is able to handle questions and answers.</p>
    <p>The main funcionalities are: </p>
    <pre>
        <b>
            &rarr; List questions
            &rarr; Display a question
            &rarr; Ask a question/add an answer
            &rarr; Sort questions
            &rarr; Add image
            &rarr; Vote on question/answer
            &rarr; Delete question/answer
            &rarr; Edit question
        </b>
    </pre>
    <hr>
    <p>Let's check how it works!!! Take a look at navigation bar &#128070;.</p>



</body>
</html>
