<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% if question == None %}
        <title>Add new question</title>
    {% else %}
        <title>Edit an existing question</title>
    {% endif %}
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.css") }}">
    <style>
        body {
            min-height: 100vh;
            background-image: linear-gradient(to top,#30cfd0 0,#330867 100%);
        }

        .container{
            margin-top: 60px;
            padding: 10px;
        }
    </style>
</head>
<body>
<header>
    {% include "topnav.html" %}
</header>
    {% if question == None %}
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-10 col-md-8 col-lg-6">
                    <div class="bg-white shadow rounded overflow-hidden">
                        <form action="{{ url_for("add_question_get", search_phrase=search_phrase) }}" method = "post" enctype = "multipart/form-data">
                            <div class="form-group col-md-6" style="margin: 30px auto 0px auto; alignment: center">
                                <label for="title">Title:</label><br>
                                <input name="title" id="title" type="text" minlength="5" maxlength="100" value="" class="form-control">
                            </div>
                            <div class="form-group col-md-6" style="margin: 30px auto 0px auto; alignment: center">
                                <label for ="message">Message:</label><br>
                                <textarea name="message" id="message" class="form-control" minlength="1" rows="3"></textarea>
                            </div>
                            <div class="form-group col-md-6 custom-file" style="margin: 30px auto 0px auto; alignment: center; display: block !important;">
                                <input id="inputGroupFile01" type = "file" name = "file" accept = ".png, .jpg" class="custom-file-input">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                <p>*Accepted file types: png, jpg</p>
                            </div>
                            <br /><br />
                            <div class="text-center">
                                <button style="alignment: center; margin-bottom: 60px; margin-top: 30px" type="submit" class="btn btn-outline-primary" value="Add new question">Add new question</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-10 col-md-8 col-lg-6">
                    <div class="bg-white shadow rounded overflow-hidden">
                        <form action ="{{ url_for("edit_question_post", question_id=question_id)}}" method = "post">
                            <div class="form-group col-md-6" style="margin: 30px auto 0px auto; alignment: center">
                                <label for = "title">title</label><br>
                                <input name = "title" id="title" type="text" minlength="1" maxlength="100" class="form-control" value="{{ question["title"] }}">
                            </div>
                            <div class="form-group col-md-6" style="margin: 30px auto 0px auto; alignment: center">
                                <label for = "message">Message</label><br>
                                <textarea name="message" id="message" class="form-control" minlength="1" maxlength="500">{{ question["message"] }}</textarea>
                            </div>
                            <div class="text-center">
                                <button style="alignment: center; margin-bottom: 60px; margin-top: 30px" type="submit" class="btn btn-outline-primary" value="Update question">Update question</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
</body>
</html>
